

<div class="header">
      <div class="container">
        <h1>Mr.Eric</h1>
      </div>
    </div>

    <div class="main">
      <div class="container">
        
         <%= form_for (@new_post) do |f|%>
<%= f.text_area :comment ,{:class => "text"}%>
<%= f.button "Post" ,{:class =>"btn"} %>
<%end%>


        
        <ul class="comments">
          <% @all_posts.each do |p| %>
          <li><%= p.comment %>
            <%end%>
          <li>Have you felt it?</li>
          <li>There has been an awakening.</li>
        </ul>

      </div>
    </div>


